body, html { background: #EBEBEB; padding: 0; margin: 0; position: relative; -webkit-font-smoothing: antialiased; text-decoration: none; font-family: "Noto Sans","Noto Sans Thai",sans-serif; }

.lang.en { display: none; }

#lang-selection { text-align: right; }
#lang-selection a { color: #086A87; text-decoration: none; outline: none; font-size: 15px; margin-left: 10px; font-weight: bold; }
#lang-selection a.active { color: #EBEBEB; }

div, img { box-sizing: border-box; }

.container-fluid { max-width: 1200px; }
.container-fluid .no-padding { padding: 0; }
.container-fluid .no-pad-left { padding-left: 0; }
.container-fluid .no-pad-right { padding-right: 0; }

#header-content { position: relative; background: #00D3CF; }
#header-content .wrapper { padding: 50px; }
@media (max-width: 768px) { #header-content .wrapper { padding: 15px; } }
#header-content .wrapper h3 { text-align: center; color: #086A87; font-size: 30px; font-weight: bold; padding-bottom: 15px; }
#header-content .wrapper h3 span { color: #fff; font-size: 30px; }
#header-content .wrapper .head-top-navi { position: relative; }
#header-content .wrapper .head-top-navi .block.text { padding-right: 30px; }
@media (max-width: 480px) { #header-content .wrapper .head-top-navi .block.text { padding-right: 15px; } }
#header-content .wrapper .head-top-navi .block.text p { color: #fff; font-size: 13px; padding: 10px 0; }
@media (min-width: 768px) { #header-content .wrapper .head-top-navi .block.text p { font-size: 20px; } }
#header-content .wrapper .head-top-navi .block.filter .filer-inner { padding: 10px; background: #F4F2EF; }
#header-content .wrapper .head-top-navi .block.filter .filer-inner .title { color: #006889; font-size: 10px; text-align: left; margin: 0; padding: 0 15px; }
@media (min-width: 375px) { #header-content .wrapper .head-top-navi .block.filter .filer-inner .title { font-size: 12px; } }
@media (min-width: 768px) { #header-content .wrapper .head-top-navi .block.filter .filer-inner .title { font-size: 15px; } }
#header-content .wrapper .head-top-navi .block.filter .filer-inner .selects-opts { margin-top: 10px; }
@media (min-width: 375px) { #header-content .wrapper .head-top-navi .block.filter .filer-inner .selects-opts { padding-right: 0; } }
#header-content .wrapper .head-top-navi .block.filter .filer-inner .selects-opts .select-box { position: relative; margin-right: 5px; width: 75px; height: 22px; float: left; }
@media (min-width: 375px) { #header-content .wrapper .head-top-navi .block.filter .filer-inner .selects-opts .select-box { width: 95px; } }
@media (min-width: 768px) { #header-content .wrapper .head-top-navi .block.filter .filer-inner .selects-opts .select-box { width: 100px; height: 30px; } }
@media (min-width: 1024px) { #header-content .wrapper .head-top-navi .block.filter .filer-inner .selects-opts .select-box { width: 130px; height: 35px; } }
@media (min-width: 1200px) { #header-content .wrapper .head-top-navi .block.filter .filer-inner .selects-opts .select-box { margin-right: 15px; width: 30%; } }
#header-content .wrapper .head-top-navi .block.filter .filer-inner .selects-opts .select-box span { position: absolute; top: 0; right: 0; background: url(../imgs/dropdown_mobile.png) no-repeat; background-size: 22px 22px; width: 22px; height: 22px; pointer-events: none; }
@media (min-width: 768px) { #header-content .wrapper .head-top-navi .block.filter .filer-inner .selects-opts .select-box span { background: url(../imgs/dropdown_desktop.png) no-repeat; background-size: 30px 30px; width: 30px; height: 30px; top: 0; right: -1px; } }
@media (min-width: 1024px) { #header-content .wrapper .head-top-navi .block.filter .filer-inner .selects-opts .select-box span { background: url(../imgs/dropdown_desktop@2x.png) no-repeat; background-size: 35px 35px; width: 35px; height: 35px; top: 0; right: -1px; } }
#header-content .wrapper .head-top-navi .block.filter .filer-inner .selects-opts .select-box select { border: 1px solid #36CACC; background: #fff; outline: none; width: 75px; height: 22px; font-size: 8px; padding: 5px; }
@media (min-width: 375px) { #header-content .wrapper .head-top-navi .block.filter .filer-inner .selects-opts .select-box select { width: 95px; font-size: 9px; } }
@media (min-width: 768px) { #header-content .wrapper .head-top-navi .block.filter .filer-inner .selects-opts .select-box select { width: 100px; height: 30px; } }
@media (min-width: 1024px) { #header-content .wrapper .head-top-navi .block.filter .filer-inner .selects-opts .select-box select { width: 130px; height: 35px; font-size: 12px; } }
@media (min-width: 1200px) { #header-content .wrapper .head-top-navi .block.filter .filer-inner .selects-opts .select-box select { margin-right: 15px; width: 100%; } }
#header-content .wrapper .head-top-navi .block.filter .filer-inner .selects-opts .select-box select option { background: #fff; font-size: 12px; outline: none; }
#header-content .wrapper .head-top-navi .block.filter .filer-inner .selects-opts .select-box select:disabled { background: #cccccc; }

#embed-section { padding: 30px 15px 50px 15px; width: 100%; }
#embed-section h3 { color: #086A87; font-size: 20px; }
#embed-section textarea { width: 100%; height: auto; font-size: 13px; background-color: #f5f5f5; word-wrap: break-word; border: none; border-radius: 5px 0 0 5px; resize: vertical; font-style: italic; }

#sub-header { position: relative; padding-top: 20px; background: #EBEBEB; }
#sub-header .title { padding: 5px; color: #fff; text-align: center; font-size: 7px; min-height: 30px; display: block; margin: 0; line-height: 10px; }
@media (min-width: 768px) { #sub-header .title { font-size: 10px; padding: 5px; min-height: 38px; line-height: 13px; } }
@media (min-width: 1024px) { #sub-header .title { min-height: auto; padding: 10px; } }
#sub-header .sub-h p { font-size: 12px; padding: 5px; }
@media (max-width: 768px) { #sub-header .sub-h p { font-size: 9px; padding: 8px 5px; } }
#sub-header .company-bg .title { background: #006889; }
#sub-header .company-bg .text { cursor: pointer; }
#sub-header .company-bg .text.active p { border: 1px solid #006889; }
#sub-header .company-bg .text p { margin-top: 10px; color: #00434D; text-align: center; border: 1px solid #cccccc; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; position: relative; min-height: 30px; }
@media (max-width: 640px) { #sub-header .company-bg .text p { min-height: 24px; } }
#sub-header .company-bg .text p:after { content: ""; position: absolute; right: 5px; top: 7px; border: 1px solid transparent; width: 8px; height: 8px; border-bottom-color: #00434D; border-right-color: #00434D; transform: rotate(45deg); }
@media (max-width: 640px) { #sub-header .company-bg .text p:after { right: 3px; top: 9px; width: 5px; height: 5px; } }
#sub-header .company-bg .text.funding { padding-left: 0; }
@media (max-width: 640px) { #sub-header .company-bg .text.funding { padding-left: 0; } }
#sub-header .performance .title { background: #FF5200; }
@media (max-width: 768px) { #sub-header .performance .title { margin-right: -10px; padding-top: 10px; } }
#sub-header .performance .text { cursor: pointer; padding-left: 0; }
#sub-header .performance .text.active p { border: 1px solid #FF5200; }
@media (max-width: 640px) { #sub-header .performance .text { padding-right: 5px; } }
#sub-header .performance .text p { margin-top: 10px; color: #FF5200; text-align: center; border: 1px solid #cccccc; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; position: relative; min-height: 30px; }
@media (max-width: 640px) { #sub-header .performance .text p { min-height: 24px; } }
#sub-header .performance .text p:after { content: ""; position: absolute; right: 5px; top: 7px; border: 1px solid transparent; width: 8px; height: 8px; border-bottom-color: #FF5200; border-right-color: #FF5200; transform: rotate(45deg); }
@media (max-width: 640px) { #sub-header .performance .text p:after { right: 3px; top: 9px; width: 5px; height: 5px; } }
#sub-header .performance .text.traffics { padding-left: 15px; }

#chart { position: relative; padding-top: 30px; background: #EBEBEB; padding-bottom: 100%; }
#chart .mar-bottom { margin-bottom: 15px; }
#chart .mar-bottom:last-child { margin-bottom: 0; }
@media (max-width: 640px) { #chart .logo-wrap { padding-right: 5px; } }
#chart .logo { width: 100%; background: #d3d1cf; text-align: left; padding: 4px; max-height: 50px; overflow: hidden; }
#chart .logo a { text-decoration: none; outline: none; }
#chart .logo .vendor-name { vertical-align: middle; color: #086A87; padding-left: 10px; font-size: 11px; }
@media (max-width: 768px) { #chart .logo .vendor-name { display: none; } }
#chart .logo img.small { display: none; }
@media (max-width: 768px) { #chart .logo img.small { display: block; height: 27px; margin: 0 auto; } }
#chart .logo img.large { display: inline-block; height: 42px; width: 40px; }
@media (max-width: 768px) { #chart .logo img.large { display: none; } }
#chart .bg-col { background: #d3d1cf; height: 50px; position: relative; }
@media (max-width: 768px) { #chart .bg-col { height: 35px; } }
#chart .bg-col .percent { background: #086A87; height: 100%; width: 0; }
#chart .bg-col .num { position: absolute; left: 5px; top: 18px; color: #086A87; font-size: 11px; }
@media (max-width: 768px) { #chart .bg-col .num { top: 15px; font-size: 7px; } }
#chart .company .employees .percent { background: #086a87; }
#chart .company .employees .num { color: #FF5200; }
#chart .company .fundings { padding-left: 0; }
#chart .company .fundings .percent { background: #0f5860; }
#chart .performance > div { padding-left: 0; }
@media (max-width: 640px) { #chart .performance > div { padding-right: 5px; } }
#chart .performance .traffics { padding-left: 15px; }
#chart .performance .traffics .percent { background: #ff6633; }
#chart .performance .app .percent { background: #ff8a33; }
#chart .performance .twitter .percent { background: #f49f2f; }
#chart .performance .instagram .percent { background: #ef2047; }
#chart .performance .facebook .percent { background: #f24e14; }
#chart .no-pad-left { padding-left: 0; }

#bottom-info { position: relative; padding: 15px; background: #EBEBEB; }
#bottom-info p { color: #086A87; padding: 5px 0; }
