body, html {
  background: #EBEBEB;
  padding: 0;
  margin: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  font-family: "Noto Sans","Noto Sans Thai",sans-serif;
}

.preloader {
  padding: 0;
  margin: 0;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10;

  img {
    position: fixed;
    width: 76px;
    height: 76px;
    margin: 0 auto;
    top: calc(50% - 38px);
    left: calc(50% - 38px);
  }
}

.lang {
  &.id {
  }
  &.en {
    display: none;
  }
}

#lang-selection {
  text-align: right;
  a {
    color: #086A87;
    text-decoration: none;
    outline: none;
    font-size: 15px;
    margin-left: 10px;
    font-weight: bold;
    &.active {
      color: #EBEBEB;
    }
  }
}

div, img {
  box-sizing: border-box;
}

.container-fluid {
  max-width: 1200px;

  .no-padding {
    padding: 0;
  }

  .no-pad-left {
    padding-left: 0;
  }

  .no-pad-right {
    padding-right: 0;
  }
}
  #header-content {
      position: relative;
      background: #00D3CF;

      .wrapper {
        padding: 50px;
        @media (max-width: 768px) {
          padding: 15px;
        }

        h3{
          text-align: center;
          color: #086A87;
          font-size: 30px;
          font-weight: bold;
          span{
            color: #fff;
            font-size: 30px;
            font-weight: bold;

            @media (min-width: 768px) {
              font-size: 36px;
              font-weight: bold;
              line-height: 40px;
            }
          }

          @media (min-width: 768px) {
            font-size: 36px;
            font-weight: bold;
            line-height: 55px;
            text-align: left;
            padding-bottom: 30px;
          }
        }

        .head-top-navi {
          position: relative;

          .block {
            &.text {
              padding-right: 30px;
              @media(max-width: 480px) {
                padding-right: 15px;
              }
              p {
                color: #fff;
                font-size: 16px;
                padding: 10px 0;
                @media(min-width: 768px) {
                  font-size: 20px;
                }
              }
            }

            &.filter {
              .filer-inner {
                padding: 10px;
                background: #F4F2EF;
                .title {
                  color: #006889;
                  font-size: 10px;
                  text-align: left;
                  margin: 0;
                  padding: 0 15px;

                  @media(min-width: 375px) {
                    font-size: 12px;
                  }
                  @media(min-width: 768px) {
                    font-size: 15px;
                  }
                }

                .selects-opts {
                  margin-top: 10px;

                  @media(min-width: 375px) {
                    padding-right: 0;
                  }
                  @media(min-width: 1024px) {

                  }

                  .select-box {
                    position: relative;
                    margin-right: 5px;
                    width:75px;
                    height:22px;
                    float: left;

                    @media(min-width: 375px) {
                      width: 95px;
                    }

                    @media(min-width: 768px) {
                      width: 100px;
                      height:30px;
                    }

                    @media(min-width: 1024px) {
                      width: 130px;
                      height:35px;
                    }

                    @media(min-width: 1200px) {
                      margin-right: 15px;
                      width:30%;
                    }

                    span {
                      position: absolute;
                      top:0;
                      right: 0;
                      background: url(../imgs/dropdown_mobile.png) no-repeat;
                      background-size: 22px 22px;
                      width: 22px;
                      height:22px;
                      pointer-events: none;

                      @media(min-width: 768px) {
                        background: url(../imgs/dropdown_desktop.png) no-repeat;
                        background-size: 30px 30px;
                        width: 30px;
                        height:30px;
                        top:0;
                        right:-1px;
                      }

                      @media(min-width: 1024px) {
                        background: url(../imgs/dropdown_desktop@2x.png) no-repeat;
                        background-size: 35px 35px;
                        width: 35px;
                        height:35px;
                        top: 0;
                        right:-1px;
                      }
                    }

                    select {
                      border: 1px solid #36CACC;
                      background: #fff;
                      outline: none;
                      width: 75px;
                      height:22px;
                      font-size: 8px;
                      padding: 3px;

                      @media(max-width: 320px) {
                       padding: 4px;
                      }

                      @media(min-width: 375px) {
                        width: 95px;
                        font-size: 9px;
                      }

                      @media(min-width: 768px) {
                        width: 100px;
                        height:30px;
                      }

                      @media(min-width: 1024px) {
                        width: 130px;
                        height:35px;
                        font-size: 12px;
                      }

                      @media(min-width: 1200px) {
                        margin-right: 15px;
                        width:100%;
                      }

                      option {
                        background: #fff;
                        font-size: 12px;
                        outline: none;
                      }

                      &:disabled {
                        background: #cccccc;
                      }
                    }
                  }
                }
              }
            }
          }
        }

      }
    }

  #embed-section {
    padding: 30px 0;
    width: 100%;
    text-align: left;
    h3 {
      color: #086A87;
      font-size: 20px;
      margin: 5px 0;
      font-size: 13px;
      font-weight: bold;
    }
    textarea {
      width: 100%;
      height:22px;
      font-size:13px;
      text-align: left;
      background-color: #f5f5f5;
      word-wrap: break-word;
      border: none;
    }
  }
  #sub-header {
    position: relative;
    padding-top: 15px;
    background: #EBEBEB;

    .sort-note {
      font-size: 10px;
      padding-top: 37px;
      font-weight: bold;
      color: #086A87;

      @media(min-width: 768px) {
        padding-top: 45px;
        padding-right:15px;
      }

      @media(min-width: 1024px) {
        padding-top: 50px;
        font-size: 11px;
      }
    }

    .title {
      padding: 5px;
      margin:0;
      color: #fff;
      text-align: center;
      font-size: 10px;
      min-height: 30px;
      display: block;
      line-height: 10px;

      @media (max-width: 375px) {
        font-size: 9px;
        padding: 5px 1px;
      }

      @media (min-width: 768px) {
        font-size: 12px;
        padding: 5px;
        min-height: 38px;
        line-height: 13px;
      }
      @media (min-width: 1024px) {
        min-height: 46px;
        padding: 10px;
        font-size: 13px;
      }
    }

    .sub-h {
      p {
        font-size: 11px;
        padding: 5px;
        @media (max-width: 768px) {
          font-size: 10px;
          padding: 8px 5px 8px 0;
        }
      }
    }
    .company-bg {
      .title {
        background: #006889;
        @media (min-width: 1200px) {
          padding: 15px;
        }
      }
      
      .text {
        cursor: pointer;
        &.descending {
          p {
            &:after{
              top:13px;
              transform: rotate(-135deg);
              display: block;
              border-bottom-color: #00434D;
              border-right-color: #00434D;
            }
          }
        }

        &.ascending {
          p {
            &:after{
              top:10px;
              transform: rotate(45deg);
              display: block;
              border-bottom-color: #00434D;
              border-right-color: #00434D;

              @media(max-width: 640px) {
                top:12px;
              }
            }
          }
        }
          p {
            color: #00434D;
            text-align: left;
            border-bottom: 2px solid #00434D;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            position: relative;
            min-height: 30px;

            @media(max-width: 640px) {
              min-height: 24px;
            }

            &:after {
              content: "";
              position: absolute;
              right: 3px;
              top: 10px;
              border: 1px solid transparent;
              width: 8px;
              height: 8px;
              border-bottom-color: #ccc;
              border-right-color: #ccc;
              transform: rotate(45deg);

              @media(max-width: 640px) {
                right: 3px;
                top: 9px;
                width: 5px;
                height: 5px;
              }
            }
          }
        &.funding {
          padding-left: 0;
        }

        @media(max-width: 640px) {
          &.funding {
            padding-left: 0;
          }
        }
      }
    }

    .performance {

      .title {
        background: #FF5200;

        @media(max-width: 768px) {
          margin-right: -10px;
          padding-top: 10px;
        }

        @media (min-width: 1024px) {
          padding-top: 15px;
        }

        @media (min-width: 1200px) {
          padding: 15px;
        }

      }
      .text {
        cursor: pointer;
        padding-left: 0;

        &.descending {
          p {
            &:after{
              top:13px;
              transform: rotate(-135deg);
              display: block;
              border-bottom-color: #ff6633;
              border-right-color: #ff6633;
            }
          }
        }

        &.ascending {
          p {
            &:after{
              top:10px;
              transform: rotate(45deg);
              display: block;
              border-bottom-color: #ff6633;
              border-right-color: #ff6633;
            }
          }
        }

        @media(max-width: 640px) {
          padding-right: 5px;
        }
          p {
            color: #FF5200;
            text-align: left;
            border-bottom: 2px solid #FF5200;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            position: relative;
            min-height: 30px;

            @media(max-width: 640px) {
              min-height:24px;
            }

            &:after {
              content: "";
              position: absolute;
              right: 3px;
              top: 10px;
              border: 1px solid transparent;
              width: 8px;
              height: 8px;
              border-bottom-color: #ccc;
              border-right-color: #ccc;
              transform: rotate(45deg);

              @media(max-width: 640px) {
                right: 3px;
                top: 9px;
                width: 5px;
                height: 5px;
              }
            }
          }

        &.traffics {
          padding-left: 15px;
        }
      }
    }
  }

  #chart {
    position: relative;
    padding-top: 15px;
    background: #EBEBEB;
    padding-bottom: 100%;

    .mar-bottom {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
    .logo-wrap {
      @media(max-width: 640px) {
        padding-right: 5px;
      }
    }
    .logo {
      width: 100%;
      background: #d3d1cf;
      text-align: left;
      padding: 4px;
      max-height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      a {
        text-decoration: none;
        outline: none;
      }
      .vendor-name {
        vertical-align: middle;
        color: #086A87;
        padding-left: 10px;
        font-size: 15px;
        text-transform: capitalize;
        @media(max-width: 768px) {
          display: none;
        }
      }

      img {

        &.small {
          display: none;
          @media(max-width: 768px) {
            display: block;
            height:27px;
            margin: 0 auto;
          }
        }
        &.large {
          display: inline-block;
          height:42px;
          width: 40px;
          @media(max-width: 768px) {
            display: none;
          }
        }
      }
    }

    .bg-col {
      background: #d3d1cf;
      height: 50px;
      position: relative;
      overflow: hidden;

      @media(max-width: 768px) {
        height:35px;
      }
      .percent {
        background: #086A87;
        height:100%;
        width: 0;
      }

      .num {
        position: relative;
        margin-top: -25px;
        margin-left: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #fff;
        @media(min-width: 768px) {
          margin-top: -27px;
        }

        @media(min-width: 1024px) {
          margin-top: -33px;
        }

        span {
          font-size: 15px;
          font-weight: bold;
          color: #666;
          @media(max-width: 768px) {
            top:12px;
            font-size: 10px;
          }
        }

      }
    }
    .company {
      .employees {
        .bg-col {
          background: rgba(8, 106, 135, 0.4);
          .percent {
            background: #086a87;
          }
          .num {
            span {
              color: #fff;
            }
          }
        }
      }

      .fundings {
        padding-left:0;
        .percent {
          background: #0f5860;
        }
      }
    }

    .performance {
      & > div {
        padding-left: 0;

        @media(max-width: 640px) {
          padding-right: 5px;
        }
      }
      .traffics {
        padding-left: 15px;

        .bg-col {
          background: rgba(#ff6633, 0.4);

          .num {
            span {
              color: #fff;
            }
          }
        }
        .percent {
          background: #ff6633;
        }
      }

      .app {

        .bg-col {
          background: rgba(#ff8a33, 0.4);

          .num {
            span {
              color: #fff;
            }
          }
        }
        
        .percent {
          background: #ff8a33;
        }
      }

      .twitter {
        .percent {
          background: #f49f2f;
        }
        
        .num {
          span {
            color: #fff;
          }
        }
      }

      .instagram {

        .bg-col {
          background: rgba(#ef2047, 0.4);

          .num {
            span {
              color: #fff;
            }
          }
        }

        .percent {
          background: #ef2047;
        }
      }

      .facebook {

        .bg-col {
          background: rgba(#f24e14, 0.4);

          .num {
            span {
              color: #fff;
            }
          }
        }

        .percent {
          background: #f24e14;
        }
      }
    }

    .no-pad-left {
      padding-left: 0;
    }

  }

#bottom-info {
  position: relative;
  padding: 15px 0;
  background: #EBEBEB;

  p {
    color: #086A87;
    padding: 5px 0;

    a {
      text-decoration: underline;
    }
  }

}
