html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	overflow:hidden;
	clear: both;
}

.links{
    text-decoration: none;
    color:#fff;
}

.links:hover{
    color:#ffff99;
}

.img{
	width: 204px;
    
}

section {
	float:left;
	display:block;
	height:100%;
	padding:0;
	margin:0;
	position:relative;
    
}

#section-section1 {
	background:#332e64;
    background-image: url("images/valentine.svg");
    background-size: 70%;
    background-repeat: no-repeat no-repeat;
    background-position: 50% 0%;
    margin-right:auto;
    margin-left:auto;
	
}
#section-section2 {
	background:#16a085;
}
#section-section3 {
	background:#27ae60;
}
#section-section4 {
	background:#c0392b;
}

#section-section5 {
	background:#c7521d;
}

#section-section6 {
	background:#0c6b88;
}

#section-section7 {
	background:#2c3e50;
}

#section-section8 {
	background:#332e64;
}

#section-section9 {
	background:#49c2c6;
}

.horizon-prev, .horizon-next {
position: absolute;
top: 50%;
margin-top: -24px;
z-index: 9999;
    cursor: pointer;
}
.horizon-prev {
left: 20px;
}
.horizon-next {
right: 20px;
}

.main-container{
	width: 940px;
	height: 100%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	display:block;
	
}

.sub-container{
	float:left;
	width: 430px;
	height: auto;
	margin-right: 10%;
	margin-left: 10%;
    
}

.ex-container{
    width:430px;
	margin-right:auto;
	margin-left:auto;
	margin-top:63px;
	height:auto;
}



.br-container{
    margin-right:auto;
    margin-left:auto;
    margin-top:40px;
    width:80%;
    height:auto;
    
}



.male{
	float: left;
	width: 170px;
	height: auto;
	padding-top:0px;
	display: block;
}

.female{
	float: left;
	width:135px;
	height: auto;
	padding-top:60px;
	display: block;
}

.img-3{
	width:100%;
	
}

.wrapper{
	width: 419px;
	height: 194px;
	margin-bottom: 20px;
}

.child{
    width:410px;
    height:auto;
    margin-bottom:10px;
}

.window{
	width: 190px;
	height: auto;
	float: left;
}

.window:hover{
    opacity: 0.4;
}

.window-1{
	width: 190px;
	height: auto;
	float: right;
}

.window-1:hover{
    opacity: 0.4;
}

.window-2{
    width:100%;
    height:auto;
    margin:0px auto;
}

.texts{
	text-align: center;
	color: white;
	width: 100%;
	font-family: 'Noto Sans', sans-serif;
	margin-right: auto;
	margin-left: auto;
}

.topic{
   font-size:30px; 
   line-height:35px;
   width:100%;
}

.end{
   font-size:30px; 
   line-height:35px;
   color:#EF4;
}

.iprice{
color:#fff;
}



.muscle{
width: 190px;
height: auto;
float: left;	
}

.content{
    font-size:18px;
    line-height: 20px;
    text-align: center;
    color:#fff;
    font-family: 'Noto Sans', sans-serif;
    width:100%;
}

.content-1{
    font-size:18px;
    line-height: 24px;
    text-align: center;
    color:#fff;
    font-family: 'Noto Sans', sans-serif;
    width:580px;
    margin: 0px auto;
}

.subj{
    width:100%;
    height:auto;
    font-size:40px;
    font-family: 'Noto Sans', sans-serif;
    line-height:48px;
    color:#fff;
    text-align: center;
    margin-bottom: 20px;
    margin-right:auto;
    margin-left:auto;
    margin-top:0px;
    
}

.intro{
    width:300px;
    height:auto;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:20px;
    
}

.bk{
    width:100%;
    height:100%;
    z-index: 9998;
    background-image: url("images/valentine-2.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right:auto;
    margin-left:auto;
    
}

.img-2{
	width: 87px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.img-2:hover {
opacity:0.7;
}

.st{
    text-decoration:none;
}

a:hover {
	
    color:#0c6b88;

}


.buttons {
    color: #EEB;
    opacity: 0.7;
    margin-right:20px;
    margin-left:5px;
    font-weight:900;
    font-size:13px;
    float:left;
    cursor:pointer;
    text-decoration: none;
}

.buttons:hover{
    color: rgb(255, 102, 51);

}

#menu{
    position: fixed;
    top:5px;
    left:20px;
    padding-top: 10px;
    padding-left: 4px;
    z-index: 50;
    height: 40px;
    width:auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    color: #33cccc;
}

#btn1{
    width: 26px;
    height: 24px;
    float: left;
    margin-top: 0px;
    border-radius: 50%;
    background: #3B5998 url("http://i.imgur.com/u9gLigk.png") 50% 50% no-repeat;
    background-size: 20px auto;
    bottom:30px;
    position:fixed;
    display:block;
    left: 132px;

}
#btn2{
    width: 26px;
    height: 24px;
    float: left;
    margin-top: 0px;
    border-radius: 50%;
    background: #dd4b38 url("http://i.imgur.com/WFBchID.png") 50% 50% no-repeat;
    background-size: 20px auto;
    bottom:30px;
    position:fixed;
    display:block;
    left: 96px;


}
#btn3{
    width: 26px;
    height: 24px;
    float: left;
    margin-top: 0px;
    border-radius: 50%;
    background: #29a628 url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M16.2%204.76c-6.05%200-10.95%204.9-10.95%2010.95%200%202.07.57%204%201.57%205.649l-1.98%205.881%206.06-1.94c1.57.87%203.37%201.36%205.29%201.36%206.05%200%2010.951-4.9%2010.951-10.95.019-6.05-4.891-10.95-10.941-10.95zm0%2020.07c-1.85%200-3.58-.561-5.02-1.51l-3.5%201.119%201.14-3.39c-1.09-1.5-1.74-3.35-1.74-5.35%200-5.03%204.09-9.12%209.12-9.12s9.12%204.09%209.12%209.12c0%205.041-4.09%209.131-9.12%209.131zm5.14-6.63c-.27-.15-1.619-.88-1.88-.98-.26-.1-.44-.159-.63.12-.2.27-.76.88-.93%201.061-.17.18-.33.199-.61.05-.271-.15-1.16-.48-2.2-1.47-.8-.771-1.33-1.71-1.48-1.99-.15-.29%200-.43.14-.57l.44-.47c.15-.15.2-.27.3-.46.1-.18.06-.35-.01-.49-.06-.14-.57-1.54-.78-2.11-.21-.57-.45-.48-.61-.49l-.53-.04s-.49.05-.76.32-1.01.92-1.07%202.3.9%202.74%201.03%202.93c.13.19%201.82%203.17%204.62%204.4%202.8%201.229%202.82.85%203.33.83.511-.031%201.681-.61%201.94-1.261.26-.64.279-1.2.209-1.319-.059-.131-.25-.211-.519-.361z%22%2F%3E%3C%2Fsvg%3E") no-repeat scroll center;
    background-size: 20px auto;
    bottom:30px;
    position:fixed;
    display:block;
    left:60px;


}

#btn4{
    width: 26px;
    height: 24px;
    float: left;
    margin-top: 0px;
    border-radius: 50%;
    background: #4099FF url("http://i.imgur.com/QzPDsIB.png") 50% 50% no-repeat;
    background-size: 15px 15px;
    bottom:30px;
    position:fixed;
    display:block;

}



 @media (max-width:960px){
	 
	 .male, .female{
		 display:none;
	 }
	 
	 .sub-container, .br-container{
	      margin: 0px auto; 
		  float:none; 
		    
	}
	
	.main-container{
	     width:700px;
		 
		 
	}
	
	
	 
	 
	 }                            




@media (max-width:500px){
    .sub-container{
        margin-right:auto;
        margin-left: auto;
        margin-top:41px;
        width:320px;
        
    }
	
	.main-container{
		width:320px;
		}
	
	.male, .female{
		display:none;
	}
    
	.ex-container{
    width:320px;
	
}
	
    .br-container{
       margin-right:auto;
        margin-left: auto;
        margin-top:28px;
        width:320px; 
    }
    
    .wrapper{
        width:320px;
        margin-right:auto;
        margin-left: auto;
        display: block;
        float:none;
        clear: none;
    }
    
    .child{
        width:320px;
        margin-right:auto;
        margin-left:auto;
        display: block;
        float:none;
    }
    
    .texts{
     width: 100%;
     margin-right:auto;
     margin-left: auto;
     display: block;
     float:none;
    }
    .topic{
        font-size: 18px;
        line-height:20px;
    }
    .content{
        font-size:13px;
        line-height:20px;
        width:49%;
        
    }
    
    .content-1, .content-2{
        font-size:13px;
        line-height:20px;
        width:94%;
		margin-top:20px;
    }
    
    
    .subj{
        font-size:22px;
        line-height:24px;
    }
    .intro{
       width:250px;
        margin-bottom: 0px;
    }
    
    .horizon-prev, .horizon-next{
        opacity: 0.4;
    }
	
	.window, .window-1, .img, .muscle{
		width:160px;
		}
    
    
}
